.base, .btn_primary, .btn_default, .btn_warn {
  width: 100px;
  height: 100px;
  outline: none;
}

.btn_primary {
  background-color: green;
}

.btn_default {
  background-color: gray;
}

.btn_warn {
  background-color: red;
}
